h1 {
    color: green;
}
h2 {
    color: blue;
}
li {
    color: blue;
}
body {
    background-color: rgb(30, 9, 148);
}
img {
    width: 25%;
    height: 200px;
}
div {
    background-color: aquamarine;
}
span {
    color: crimson;
}
footer {
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}